<body>
  <div class="sidebar">
    <a routerLink="/admin/adminhome">Home</a>
    <a class="active" routerLink="/admin/kids">Kids</a>
    <a routerLink="/admin/tutors">Staffs</a>
    <a routerLink="/admin/users">Users</a>
    <a routerLink="/admin/plans">Plans</a>
    <a routerLink="/admin/payments">Payments</a>
  </div>
  <div class="content">
    <div class="row profile">
      <div class="col-12 blue-box">
        <h2>Meal Menu</h2>
       <table class="borderless-table">
          <tr>
            <td>Snack I :</td>
            <td>dfff</td>
          </tr>
          <tr>
            <td>Lunch :</td>
            <td>dfgh</td>
          </tr>
          <tr>
            <td>Snack II :</td>
            <td>dfghm</td>
          </tr>
          <tr>
            <td>Additional :</td>
            <td>fghj</td>
          </tr>
        
        </table>
        <br>
        <button class="btn btn-primary" routerLink="/kids">Back</button>
   <img class="bottom-right-image" src="../../../assets/images/animal1-removebg-preview.png" alt="">
       
      </div>
    </div>
  </div>
</body>
