<body>
  <div class="sidebar">
    <a routerLink="/staff/profile">My Profile</a>
    <a class="active" routerLink="/staff/mykids">Kids</a>
     <a  routerLink="/staff/mealplan">Meal Plan</a>
    <a  routerLink="/staff/routine">Routine</a>
  </div>
  <div class="content">
    <div class="row profile">
      <div class="col-12 blue-box">
        <img
          src="{{data.image}}"
          alt="Profile Image"
          class="profile-image"
        />
        <img
          src="../../../assets/images/green-vine-plant-common-ivy-png-favpng-dvABEvMFr4LT98zM6QfTbKC3q-removebg-preview.png"
          alt=""
          class="leaves"
        />
        <table class="borderless-table">
          <tr>
            <td>Name</td>
            <td>{{ data.name }}</td>
          </tr>
          <tr>
            <td>D.O.B</td>
            <td>{{ data.dob }}</td>
          </tr>
          <tr>
            <td>Gender</td>
            <td>{{ data.gender }}</td>
          </tr>
          <tr>
            <td>Parent</td>
            <td>{{ data.parent.name }}</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>{{ data.parent.contact }}</td>
          </tr>
          <!-- <tr>
            <td>Address</td>
            <td>{{ data.parent.address }}</td>
          </tr> -->

          <tr>
            <td>Medications</td>
            <td>{{ data.medications }}</td>
          </tr>
          
        </table>
        <br>
        <br>
        <div class="btns">
            <button class="btn1" (click)="mealplan()">Meal Plan</button>
            <button class="btn1" (click)="routine()">View Routine</button>
        </div>
         <img
          src="../../../assets/images/animal2-removebg-preview.png"
          alt="Bottom Right Image"
          class="bottom-right-image"
        />
      </div>
    </div>
  </div>
</body>
