body{
  overflow-x: hidden;
}
.sidebar {
  margin: 0;
  padding-top: 63px;
  width: 200px;
  background-color: #bdebef;
  position: fixed;
  height: 100%;
  overflow: hidden;
  top: 80px; /* Add this line */
  left: 0; /* Add this line */
}



.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #9cd5db;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #9cd5db;
  color: white;
}
div.content {
 margin-top: 132px; /* Height of the navbar */
  margin-left: 238px; /* Width of the sidebar */
  height: calc(100vh - 80px); /* Adjust the height as needed */
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 0px;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .image-container {
    max-width: 100%;
  }
}



.list ul:nth-child(odd) {
  background-color:#ddd;
}

.list ul:nth-child(even) {
  background-color:#fff;
}


@media screen and (min-width:600px) {
  
  .list {
    display:table;
    margin:1em;
    width: 80%;
  }
 
  .list ul {
    display:table-row;
  }
  
  .list ul:first-child li {
    background-color:#14b9c5;
    color:#fff;
  }
  
  .list ul > li {
    display:table-cell;
    padding:.5em 1em;
  }
  
}


@media screen and (max-width:599px) {
  
  .list ul {
    border:solid 1px #ccc;
    display:block;
    list-style:none;
    margin:1em;
    padding:.5em 1em;
  }
  
  .list ul:first-child {
    display:none;
  }
  
  .list ul > li {
    display:block;
    padding:.25em 0;
  }
  
  .list ul:nth-child(odd) > li + li {
    border-top:solid 1px #ccc;
  }
  
  .list ul:nth-child(even) > li + li {
    border-top:solid 1px #eee;
  }
  
  .list ul > li:before {
    color:#000;
    content:attr(data-label);
    display:inline-block;
    font-size:75%;
    font-weight:bold;
    text-transform:capitalize;
    vertical-align:top;
    width:50%;
  }
  
  .list p {
    margin:-1em 0 0 50%;
  }
  
}


@media screen and (max-width:349px) {
    
  .list ul > li:before {
    display:block;
  }
  
  .list p {
    margin:0;
  }
  
} 
.viewbutton{

  background-color: #244fa1; /* Green */
  border: none;
  color: white;
  padding: 2px 14px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 20px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #9cd5db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 5px;
  
  font-weight: bold;
}
.sort-icon {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  cursor: pointer;
}

.asc {
  border-bottom: 8px solid #717070; /* Example: upward arrow */
}

.desc {
  border-top: 8px solid #717070; /* Example: downward arrow */
}
