<body>
  <div class="sidebar">
    <a routerLink="/admin/adminhome">Home</a>
    <a routerLink="/admin/kids">Kids</a>
    <a class="active" routerLink="/admin/tutors">Staffs</a>
    <a routerLink="/admin/users">Users</a>
    <a routerLink="/admin/plans">Plans</a>
    <a routerLink="/admin/payments">Payments</a>
  </div>
  <div class="content">


<button routerLink="/admin/tutors/addtutor">Add Staff</button>
    <div class="list">
      <ul>
        <li>Name  <span class="sort-icon" [ngClass]="{'asc': sortDirection === 'asc', 'desc': sortDirection === 'desc'}" (click)="toggleSortDirection()"></span></li>
        <li>Email</li>
        <li>D.O.B</li>
        <li>contact</li>
        <li>Options</li>
      </ul>
      <ul *ngFor="let staff of getStaffsToShow()">
        <li data-label="Name">{{staff.name}}</li>
        <li data-label="Email">{{staff.email}}</li>
        <li data-label="D.O.B">{{staff.dob}}</li>
        <li data-label="Contact">{{staff.contact}}</li>
        <li data-label="Options"><button (click)="tutorprofile(staff._id)" class="viewbutton">View</button></li>
      
      </ul>
       <div class="pagination">
            <button [disabled]="isFirstPage()" (click)="previousPage()">Previous</button>
            <span>{{ (currentPage - 1) * pageSize + 1 }} - {{ (currentPage - 1) * pageSize + getStaffsToShow().length }} of {{ totalStaffs }}</span>
            <button [disabled]="isLastPage()" (click)="nextPage()">Next</button>
          </div>

     
    </div>

  </div>
</body>
