body {
  margin: 0;
}

.page-content {
  width: 100%;
  margin: 60px auto;
  background-image: url("../../../assets/images/bgm12.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-v9-content {
  width: 475px;
  border-radius: 15px;
  margin: 50px 0;
  font-family: "Nunito", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  background-color: #ddf6d9;
}

.form-v9-content .form-detail {
  padding: 30px 17px 30px 21px;
  position: relative;
}

.form-v9-content .form-detail h2 {
  font-size: 25px;
  text-align: center;
  position: relative;
  padding: 0px 0 13px;
  margin-bottom: 35px;
}

.form-v9-content .form-detail h2::after {
  background: #000000;
  width: 150px;
  height: 3px;
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.form-v9-content {
  display: flex;
  justify-content: space-between;
}

.form-v9-content .form-row {
  width: 115%;
}

.form-v9-content .form-detail .form-row-last {
  margin-top: -28px;
  text-align: center;
}

.form-v9-content .form-detail .input-text {
  margin-bottom: 25px;
}

.form-v9-content .form-detail input {
  width: 100%;
  padding: 14.5px 0px 14.5px 30px;
  border: 2px solid #ffffff;
  appearance: unset;
  outline: none;
  border-radius: 27.5px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.2);
}

.form-v9-content .form-detail input:focus {
  border: 2px solid #999;
}

.form-v9-content .form-detail .register {
  background: #000000;
  border-radius: 25px;
  width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border: none;
  margin: 13px 37px 55px 22px;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
}

.form-v9-content .form-detail .register:hover {
  background: #d95252;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder {
  color: #5e5c5c;
  font-size: 16px;
}

/* Responsive */
@media screen and (max-width: 1199px) {
  .form-v9-content {
    margin: 185px 20px;
  }
}

@media screen and (max-width: 767px) {
  .form-v9-content .form-row-total {
    flex-direction: column;
  }

  .form-v9-content .form-row {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .form-v9-content .form-detail {
    padding: 30px 45px 30px 10px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    overflow-y: hidden;
  }
}

.already {
  padding-left: 7rem;
  margin-top: -40px;
}

.main {
  padding-top: 1%;
  margin-top: 4%;
  background-color: #fff391;
}

.form-class {
  padding-top: 3%;
}

.form-group {
  padding-bottom: 4%;
}
.errortext {
  color: red;
  font-size: 13px;
  font-weight: 200;
  font-style: italic;
 
}
